/** 
 * TODO: 各アプリケーション固有のスタイルを追加します。
 */
/*
.search-criteria select
{
    width: 12em;
}
        
.search-criteria .item-label
{
    width: 10em;
}
*/  
.caution
{
    color: red;
}
.left {
    text-align: left !important;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
.middle-content {
    display: table;
}
.middle-elem {
    display: table-cell!important;
    vertical-align: middle;
}

input[type="text"].ime-disabled, select.ime-disabled, textarea.ime-disabled {
    ime-mode: disabled;
}

.date-zone {
    width: 90px!important;
}
/*Checkbox group: Label - checkbox group*/
div.row label.check-group{
    margin-top: 0px!important;
}
.check-group input[type="checkbox"],
.check-group input[type="radio"]
{
    vertical-align: middle;
    margin-top: 0px;
    margin-right: 5px;
}
/*.check-group label, label.check-group {
    min-width: 30px;
}*/
.header .check-group input {
    margin-right: 5px;
}

.inp-group * {
    float: left;
    min-width: 15px;
}

    .inp-group .side {
        margin-left: 5px;
    }

.inp-group button {
    min-width: 60px
}

/*Color: fore-color, back-color, line-color*/
.red-color {
    color: red;
}

/*Size: width, height*/
.free-height {
    height: auto!important;
}
.full-height {
    height: 100%;
}
.full-height-opp {
    height: 100%!important;
    margin: 0px!important;
}
.full-width {
    width: 100%;
}

/*Float: left, right, top, bottom*/
.float-left {
    float: left;
}

/*Margin, Padding*/
input[type='text'] {
    padding-left: 2px!important;
    padding-right: 2px!important;
}
.col-zr {
    padding: 0px!important;
}

/*Responsive width*/
.fix-label-sm {
}
.fix-label-sm .lb {
    min-width: 65px;
}
.fix-label-sm .prop {
    width: calc(100% - 70px);
    min-width: 0px;
}

.fix-label-md {

}
.fix-label-md .lb {

}
.fix-label-md div.lb {
    width: 80px;
    float: left;
}
.fix-label-md .prop {
    width: calc(100% - 85px);
    min-width: 0px;
}
    .fix-label-md div.prop {
        float: left;
    }

    .fix-label-md {

}
.fix-label-xmd .lb {
    width: 100px;
}
.fix-label-xmd div.lb {
    float: left;
}
.fix-label-xmd .prop {
    width: calc(100% - 105px);
    min-width: 0px;
}
    .fix-label-xmd div.prop {
        float: left;
    }

.fix-label-lg {

}
.fix-label-lg .lb {
    min-width: 140px;
}
.fix-label-lg div.lb {
    float: left;
}
.fix-label-lg .prop {
    width: calc(100% - 150px)!important;
}
.fix-label-lg div.prop {
    float: left;
}
.fix-input-xs .fixed {
    float: left;
    width: 50px!important;
}
.fix-input-xs .floated {
    float: left;
    margin-left: 5px;
    width: calc(98% - 55px)!important;
}

/*asjustment for 1600x900 solution*/
.sub-tab-content {
    /*max-height: 618px;*/
    float: left;
    width: 100%;
    overflow: auto;
    border-top: 1px solid #ccc;
}

    .sub-tab-content .roof {
        margin-top: -1px;
    }

/*Smaller size*/
.smaller table.datatable select {
    height: 20px !important;
    border: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.smaller div.row input[type='text'],
.smaller div.row input[type='tel'],
.smaller div.row select,
.smaller div.row button {
    height: 22px;
}

.smaller div.row button {
    line-height: 1;
}

.seiho-bunsyo .smaller table.datatable th,
.seiho-bunsyo .smaller table.datatable td {
    padding: 0px;
}

.seiho-bunsyo .smaller table.datatable tr {
    height: 22px;
}

.seiho-bunsyo .smaller .dt-vscroll thead tr {
    height: auto;
}

.smaller table.datatable tbody.new tr {
    height: auto;
}

.smaller table.datatable.auto-height tr {
    height: auto;
}

/*.smaller .row,*/
.smaller .row div.control,
.smaller .row div.control-label,
.smaller .row div.small-height {
    height: 23px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.smaller .row div.small-height {
    padding-right: 2px;
}

.smaller div.row label {
    padding-top: 3px;
    padding-bottom: 2px;
}

.smaller td label,
.smaller th label {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    height: 20px;
}

.smaller table.datatable button {
    margin: 0px;
}

.smaller textarea {
    padding: 3px;
    margin: 0px;
}
.smaller input[type='text'],
.smaller input[type='tel'],
.smaller select {
    padding: 0px 3px!important;
    margin: 0px;
}

.smaller table.datatable input[type="text"],
.smaller table.datatable select,
.smaller table.datatable textarea {
    margin: 0px;
}

.smaller .textarea-height {
    height: calc(100% - 27px);
}

.smaller .textarea-height.bar-less {
    height: 100%;
    float: left;
}


.nav-tabs .tab-a.fixed {
    color: #333;
}
/*nav-tabs*/
.nav-tabs > li.active > a,
.nav-tabs > li.active > a.fixed,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #428bca;
    color: white;
}

/*tabs-content*/
.tab-padding {
    padding: 0px 1px 0px 0px;
}

/*group content*/
.lb-padding {
    padding-left: 20px;
}


.squared-box {
    background-color: yellow;
    color: red;
    font-size: 20px;
    padding: 10px 0px;
    text-align: center;
    width: 50px;
    margin-left: calc(50% - 25px);
}

div.row label.ellipsis-line-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    height: 36px;
    word-break: break-all;
}

.kotei-header {
    /*padding: 5px;*/
}

table.kotei-table {
    width: 396px;
    margin: 5px;
    background-color: white;
}

    table.kotei-table th {
        border: double;
    }
    table.kotei-table th label {
        padding: 0px 3px;
    }
    table.kotei-table td {
        border: 1px solid #ececec;
        border-bottom: 0;
        height: 40px;
        /*vertical-align: middle;*/
    }
    table.kotei-table tr:last-child td {
        border-bottom: 1px solid #ccc;
    }
        table.kotei-table td.first {
            /*border-right: none;*/
        }
        table.kotei-table td.side {
            border-right: none;
            border-left: none;
        }
        table.kotei-table td.last {
            text-align: left;
            border-left: none;
        }
    table.kotei-table td.bodered {

    }

    table.kotei-table tr.genryo td {
        border-color: #333;
        border-bottom: 1px solid #333;
    }

    table.kotei-table tr.genryo-prev td {
        border-bottom-color: #333
    }

    table.kotei-table tr.kikai td.swicth.lb label {
        text-decoration: underline;
    }

    table.kotei-table tr.shikake td .combo-lb {
        color: red;
    }



.drop-title {
    width: 100%;
}

/* Dropdown Button */
.dropbtn {
    /*background-color: #4CAF50;*/
    /*color: #333;*/
    padding: 16px;
    /*font-size: 16px;*/
    border: none;
    /*cursor: pointer;*/
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    /*background-color: #ccc;*/
}

/* The search field */

table.kotei-table td textarea,
table.kotei-table td label.dis-label {
    /*font-size: 16px;*/
    padding: 2px;
    border: none;
    width: 100%;
    height: 38px;
    resize: none;
    vertical-align: middle;
    margin: 0px;
}

table.kotei-table td input[type='text'] {
    padding: 2px;
    border: none;
    width: 100%;
    height: 39px;
    margin: 0px;
}

    table.kotei-table td input[type='text'].genryo-code {
        padding-bottom: 19px;
        background-color: transparent;
        cursor: pointer;
    }

table.kotei-table td label.genryo-code {
    padding: 2px;
    /*width: 63px;*/
    /*height: 38px;*/
    margin: 0px;
}

table.kotei-table td label.genryo-name {
    padding: 2px;
    /*width: calc(100% - 65px);*/
    /*height: 38px;*/
    margin: 0px;
    /*float: left;*/
}

table.kotei-table td label {
    cursor: pointer;
    float: left;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    /*width: 100%;*/
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 322px;
    border: 1px solid #1e90ff;
    z-index: 1;
    max-height: 226px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Links inside the dropdown */
.dropdown-content div {
    padding: 0px;
    float:left;
    width: 100%;
    border: 1px solid white;
}
    .dropdown-content div label {
        color: black;
        text-decoration: none;
        display: block;
        /*unlock for multi row genryo name*/
        /*white-space: normal;*/
        min-height: 30px;
        float: left;
    }

        .dropdown-content div label.opt-code {
            width: 63px;
        }
        .dropdown-content div label.opt-name {
            width: calc(100% - 65px);
        }

/* Change color of dropdown links on hover */
.dropdown-content div:hover label {
    color: white;
}

    .dropdown-content div:hover {
        background-color: #1e90ff;
    }
    .dropdown-content div:focus {
         border: 1px solid #1e90ff;
    }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.kotei-table .caret {
    /*margin-left: -20px;*/
    cursor: pointer;
}

.dropdown-front {
    width: 100%;
}

div.row .inp.swicth,
div.row .lb.swicth {
    padding-left: 1px;
}
    div.row .inp.swicth.active,
    div.row .lb.swicth.active {
        /*display: block;*/
    }

div.row .inp.swicth input[readonly] {
    /*background-color: transparent;*/
}


.combo-tmpl {
    display: none!important;
}

tr.selected-kotei td {
    /*background-color: #f6f6f6!important;*/
    background-color: yellow;
}

tr.has-error td {
    /*background-color: #f6f6f6!important;*/
    background-color: #ffdab9!important;
}

/*tr.selected-kotei .combo-lb{
    color: inherit!important;
}*/

.float-content table.kotei-table {
    float:left;
}

tr.tr-frame td{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #ccc;
    height: 1px;
    background-color: transparent;
}

label.min-zero,
button.min-zero {
    min-width: 0px;
}

.table-striped-even > tbody > tr:nth-child(even) > td, .table-striped-even > tbody > tr:nth-child(even) > th {
    background-color: #f9f9f9;
}

.width-lg {
    width: 119px;
}

table.color-picker {
    width: 100%;
    height: 150px;
}

    table.color-picker td {
        border: 1px solid #333;
    }
    table.color-picker td.focus {
        border: 3px solid #fff;
    }
    table.color-picker td.focus .black {
        box-shadow: #333 2px 2px inset;
    }
    table.color-picker td.focus .white {
        box-shadow: #fff 2px 2px inset;
    }

/*Sort element*/
.sort-container label {
    min-width: 0px;
}
.sort-container.height-lg label {
    padding-top: 5px;
    padding-bottom: 5px;
}
.sort-container label.sort-elem {
    cursor: pointer;
    height: 100%;
}
    .sort-container label.sort-elem.selected-sort {
        font-weight: bold;
    }

/*No seiho group*/
div.seiho-group * {
    float: left;
    min-width: 15px;
}
    div.seiho-group .cd_kaisha {
        width: 50px!important;
    }
    div.seiho-group .cd_shurui {
        width: 60px!important;
    }
    div.seiho-group .nendo {
        width: 30px!important;
    }
    div.seiho-group .seq {
        width: 50px!important;
    }

/*no_han group*/
.han-group * {
    float: left;
    min-width: 15px;
}

    .han-group input.no_han,
    .han-group label.no_han {
        width: 40px!important;
    }

    .han-group select.no_han {
        width: 50px!important;
    }

label.link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.back-yellow,
table.datatable th.back-yellow,
table.datatable td.back-yellow {
    background-color: #ffff99;
}

.back-gray,
table.datatable th.back-gray,
table.datatable td.back-gray {
    background-color: #b7b7b7;
}

.back-lgray,
table.datatable th.back-lgray,
table.datatable td.back-lgray {
    background-color: #efefef;
}

.transparent {
    background-color: transparent;
}

.red {
    color: red;
}

input[disabled],
select[disabled] {
    background-color: #ebebe4;
}

table {
    table-layout: fixed;
}

.inp-lb {
    background-color: transparent;
    border: none!important;
    cursor: default;
}

    .inp-lb:focus {
        outline: none;
    }


.nav-tabs > li > a {
    border-radius: 10px 0px 0 0;
    border: 1px solid #aaa;
    padding-right: 20px!important;
}

    .nav-tabs > li > a:focus {
        outline: 0;
    }

.nav-tabs > li.styleLi:not(:first-child) {
    margin-left: -10px
}

.dialog-table {
    padding-right: 16px;
    border-bottom: 2px solid #ccc
}

.dialog-table .table > thead > tr > th {
    border: none;
}

::placeholder {
    color: #a9a9a9;
}

:-ms-input-placeholder,
::-ms-input-placeholder {
    color: #a9a9a9;
}

div.theme-blue div.header h1.part-title {
    background-color: #62a7e2;
}

    div.theme-blue div.header h1.part-title:hover {
        background-color: #62a7e2;
    }

div.theme-yellow div.header .part:not(.not-color) h1.part-title {
    background-color: #ffc90e;
}

    div.theme-yellow div.header .part:not(.not-color) h1.part-title:hover {
        background-color: #ffc90e;
    }

    div.theme-yellow .btn-primary:not([disabled]) {
        background-color: #ffc90e;
        border-color: #ffc90e;
    }

    div.theme-yellow .btn-primary:not([disabled]):hover {
        background-color: #ffc600;
        border-color: #ffc600;
    }

div.theme-pink div.header h1.part-title,
div.theme-pink div.header div.row.theme-color .control {
    background-color: #ffaec9;
}

    div.theme-pink div.header h1.part-title:hover {
        background-color: #ffaec9;
    }

    div.theme-pink .btn-primary:not([disabled]) {
        background-color: #ffaec9;
        border-color: #ffaec9;
    }

    div.theme-pink .btn-primary:not([disabled]):hover {
        background-color: #ff91b6;
        border-color: #ff91b6;
    }