<%@ Language=VBScript %>
<% '----------------------------------------------------------------------------------- %>
<% ' 上位メニュー画面（ログイン画面起動用ドライバ）                                     %>
<% ' 作成者：TT.Jinbo                                                                   %>
<% ' 作成日：2009/04/27                                                                 %>
<% ' 概要  ：ログイン画面に自動遷移する。                                               %>
<% '----------------------------------------------------------------------------------- %>
<% Option Explicit %>
<!doctype html public "-//W3C//DTD HTML 4.01 Frameset//EN"  "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
<title>シサクイック　ログイン起動</title>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">

<script Language="JavaScript">
<!--
//========================================================================================
// ログイン画面起動処理
//========================================================================================
function funOpenLogin(){
    window.open('SQ010Login/SQ010Login.jsp','shisaquick','menubar=no,resizable=yes');
    return;
}
// -->
</script>
<body onLoad="funOpenLogin();">
    <center>
        <br>
        <!-- ヘッダー部 -->
        <table>
            <tr>
                <td align="center" class="g_title" colspan="3"><b>シサクイック　ログイン起動</b></td>
            </tr>
        </table>
    </center>
</body>
</html>
