<?xml version="1.0" encoding="utf-8"?>
<!-- ここにはテスト環境への接続文字列を記述してください。(IISデプロイ用）	-->
<!-- web.config 変換の詳細については、http://go.microsoft.com/fwlink/?LinkId=125889 を参照してください。 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!--
    以下の例では、"Match" ロケーターで "SampleEntities" という値の "name" 属性が見つかった場合にのみ
	"SetAttributes" 変換により "connectionString" の値が変更されます
    
    <connectionStrings>
    	<add name="SampleEntities" connectionString="metadata=res://*/Data.SampleModel.csdl|res://*/Data.SampleModel.ssdl|res://*/Data.SampleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tigdb01;initial catalog=UITemplateSample;User ID=TOSTEMPLATE_SYSTEM;Password=99-0106@TOSTEMPLATE;App=EntityFramework&quot;" providerName="System.Data.EntityClient" 
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="ShohinKaihatsuEntities" connectionString="metadata=res://*/Data.ShohinKaihatsu.csdl|res://*/Data.ShohinKaihatsu.ssdl|res://*/Data.ShohinKaihatsu.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tigdb01;initial catalog=shisaquick_new;persist security info=True;user id=shohinkaihatsu_system;password=04-0083@SHOHINKAIHATSU;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FOODPROCSEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tigdb01;initial catalog=FPROCQPT05_ma;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QPDATA2Entities" connectionString="metadata=res://*/Data.GLabel.csdl|res://*/Data.GLabel.ssdl|res://*/Data.GLabel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tg3dbsv;initial catalog=QPDATA2;user id=G3_system;password=04-0011@G3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="0001_0001FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=NMACSQPS02;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="0001_0002FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tigdb01;initial catalog=FPROCQPW02_0207;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="0001_0003FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tigdb01;initial catalog=FPROCQPK03_0207;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="0001_0005FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tigdb01;initial catalog=FPROCQPT05_0207;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="0001_0006FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tigdb01;initial catalog=FPROCQPG06_0207;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="0001_0007FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tigdb01;initial catalog=FPROCQPN07_0207;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="0001_0008FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tigdb01;initial catalog=FPROCQPZ08_0207;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="0001_0009FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tigdb01;initial catalog=FPROCQPA09_0207;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1100_0002FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCQPE02;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1100_0003FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCQPE03;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1100_0004FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCQPE04;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1100_0006FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCQPE06;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1100_0007FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCQPE07;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1100_0008FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCQPE08;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />    
    <add name="1100_0011FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCQPE11;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1100_0025FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCQPE25;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1100_0029FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCQPE29;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1100_0031FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCQPE31;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1100_0034FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCQPE34;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1100_0036FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCQPE36;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1100_0038FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCQPE38;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1100_0039FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCQPE39;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1100_0046FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCQPE46;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1100_0056FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCQPE56;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1100_0058FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCQPE58;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1100_0067FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCQPE67;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1100_0081FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCQPE81;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1100_0083FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCQPE83;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1100_0086FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCQPE86;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />    
    <add name="1100_0090FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCQPE90;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1100_0091FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCQPE91;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1100_0092FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCQPE92;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1100_0093FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCKNE35;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1100_0094FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCKNE32;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1100_0096FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCQPE96;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1100_0007FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCQPE97;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1100_0101FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCKNE01;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1101_0001FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=NMACSQPJ01_yn;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1101_0003FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=NMACSQPJ03;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1101_0007FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=NMACSQPJ07_yn;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1101_0008FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=NMACSQPJ08;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1105_0002FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCCOP02;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1108_0002FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCZKE22;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1108_0003FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCZKE33;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1108_0004FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCZKE04;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1108_0006FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCZKE06;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1108_0007FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCZKE07;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1108_0008FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCZKE08;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1121_0001FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCDPJ01;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1121_0003FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCDPJ03;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1121_0006FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCDPJ06;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1124_0002FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCPTT02;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1128_0002FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCKPC02;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1415_0002FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=NMACSSET02;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1416_0001FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=NMACSISK01;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1417_0001FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=NMACSHNS01;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1417_0002FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=NMACSHNS02;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1417_0003FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=NMACSHNS03;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1422_0001FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=NMACSSLD01;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1422_0002FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=NMACSSLD02;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1422_0003FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=NMACSSLD03;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1422_0004FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=NMACSSLD04;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1422_0005FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=NMACSSLD05;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1422_0006FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=NMACSSLD06;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1422_0007FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=NMACSSLD07;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1422_0008FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=NMACSSLD08;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1423_0002FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=NMACSTOS02;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1424_0002FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=NMACSKTK01;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1425_0001FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=NMACSSYU01;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1425_0010FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=NMACSALB01;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1425_0025FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=NMACSSYU25;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1425_0026FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=NMACSSYU26;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1425_0040FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=NMACSFMC02;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="3004_0001FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCBF01;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="3004_0002FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCBF02;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="3004_0003FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=FPROCBF03;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="3005_0002FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=NMACSKMX01;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="8000_0001FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=NMACSFC01;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="8002_0001FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=NMACSITAKU;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="8008_0002FPROCEntities" connectionString="metadata=res://*/DataFP.FOODPROCS.csdl|res://*/DataFP.FOODPROCS.ssdl|res://*/DataFP.FOODPROCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gstestsv;initial catalog=NMACSFC02;persist security info=True;user id=FOODPROCS_system;password=04-0001@FOODPROCS;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      以下の例では、"Replace" 変換により web.config ファイルの
      <customErrors> セクション全体が置換されます。
      <system.web> ノードには customErrors セクションが 1 つしかないため、
      "xdt:Locator" 属性を使用する必要はありません。

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <applicationSettings>
	<!--
      以下の例では、"Match" ロケーターで "SvfServer" という値の "name" 属性が見つかった場合にのみ
	  "Replace" 変換により <setting name="SvfServer"> セクション全体が置換されます。
	<Tos.Web.Properties.Settings>
		<setting name="SvfServer" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
			<value>VO-ASPNETPRINT</value>
		</setting>
	</Tos.Web.Properties.Settings>
	-->
	<Tos.Web.Properties.Settings>
		<setting name="DownloadTempFolder" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
			<value>~/../Download</value>
		</setting>
		<setting name="DeployEnviromentName" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
			<value>※テスト環境※</value>
		</setting>
		<setting name="DeployEnviromentClass" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
			<value>deploy-test</value>
		</setting>
	</Tos.Web.Properties.Settings>
  </applicationSettings>
</configuration>