<?xml version="1.0" encoding="utf-8"?>
<!-- ここにはテスト環境への接続文字列を記述してください。(IISデプロイ用）	-->
<!-- web.config 変換の詳細については、http://go.microsoft.com/fwlink/?LinkId=125889 を参照してください。 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!--
    以下の例では、"Match" ロケーターで "SampleEntities" という値の "name" 属性が見つかった場合にのみ
	"SetAttributes" 変換により "connectionString" の値が変更されます
    
    <connectionStrings>
    	<add name="SampleEntities" connectionString="metadata=res://*/Data.SampleModel.csdl|res://*/Data.SampleModel.ssdl|res://*/Data.SampleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tigdb01;initial catalog=UITemplateSample;User ID=TOSTEMPLATE_SYSTEM;Password=99-0106@TOSTEMPLATE;App=EntityFramework&quot;" providerName="System.Data.EntityClient" 
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      
      次の例では、web.config ファイルの <customErrors> セクション全体が 
      "Replace" 変換によって置き換えられます。
      <system.web> ノードには customErrors セクションが 1 つしかないため、
      "xdt:Locator" 属性を使用する必要はありません。
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    >
    -->
    <authentication mode="Forms" xdt:Transform="Replace">
      <!--<forms loginUrl="~/Account/WinLogin.aspx" defaultUrl="~/Pages/Default.aspx" timeout="600" />-->
      <!-- ログイン画面でユーザーを切り替えてテストを実施したい場合には、上記の forms タグをコメントアウトし、下記のコメントを解除してください。-->
      <forms loginUrl="~/Account/Login.aspx" defaultUrl="~/Pages/Default.aspx" timeout="600" />
    </authentication>
  </system.web>
  <applicationSettings>
	<!--
      以下の例では、"Match" ロケーターで "SvfServer" という値の "name" 属性が見つかった場合にのみ
	  "Replace" 変換により <setting name="SvfServer"> セクション全体が置換されます。
	<Tos.Web.Properties.Settings>
		<setting name="SvfServer" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
			<value>VO-ASPNETPRINT</value>
		</setting>
	</Tos.Web.Properties.Settings>
	-->
	<Tos.Web.Properties.Settings>
		<setting name="DownloadTempFolder" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
			<value>~/../Download</value>
		</setting>
		<setting name="DeployEnviromentName" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
			<value>※フォーム環境※</value>
		</setting>
		<setting name="DeployEnviromentClass" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
			<value>deploy-debug</value>
		</setting>
	</Tos.Web.Properties.Settings>
  </applicationSettings>
</configuration>