<?xml version="1.0"?>
<!-- ここにはテスト環境への接続文字列を記述してください。	-->
<!-- web.config 変換の使用方法の詳細については、http://go.microsoft.com/fwlink/?LinkId=125889 を参照してください -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
<!--
    以下の例では、"Match" ロケーターで "SampleEntities" という値の "name" 属性が見つかった場合にのみ
	"SetAttributes" 変換により "connectionString" の値が変更されます
    
    <connectionStrings>
    	<add name="SampleEntities" connectionString="metadata=res://*/Data.SampleModel.csdl|res://*/Data.SampleModel.ssdl|res://*/Data.SampleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tigdb01;initial catalog=UITemplateSample;User ID=TOSTEMPLATE_SYSTEM;Password=99-0106@TOSTEMPLATE;App=EntityFramework&quot;" providerName="System.Data.EntityClient" 
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
-->
  <system.web>
    <!--
      以下の例では、"Replace" 変換により web.config ファイルの
      <customErrors> セクション全体が置換されます。
      <system.web> ノードには customErrors セクションが 1 つしかないため、
      "xdt:Locator" 属性を使用する必要はありません。
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
	<applicationSettings>
	<!--
      以下の例では、"Match" ロケーターで "SvfServer" という値の "name" 属性が見つかった場合にのみ
	  "Replace" 変換により <setting name="SvfServer"> セクション全体が置換されます。
	<Tos.Web.Properties.Settings>
		<setting name="SvfServer" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
			<value>VO-ASPNETPRINT</value>
		</setting>
	</Tos.Web.Properties.Settings>
	-->
		<Tos.Web.Properties.Settings>
			<setting name="DownloadTempFolder" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
				<value>~/../Download</value>
			</setting>
		</Tos.Web.Properties.Settings>
	</applicationSettings>
</configuration>